workflows/p0nIDPgkNi5FEDIV-Linkedin.json
{
  "name": "Linkedin",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/gb/search/1?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "123"
            },
            {
              "name": "app_key",
              "value": "123"
            },
            {
              "name": "what",
              "value": "{{$json.skill}}"
            },
            {
              "name": "where",
              "value": "UK"
            },
            {
              "name": "results_per_page",
              "value": "50"
            },
            {
              "name": "max_days_old",
              "value": "30"
            }
          ]
        },
        "options": {}
      },
      "id": "123",
      "name": "Search Adzuna Ireland",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        -976
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "fieldToSplitOut": "allJobs",
        "options": {
          "destinationFieldName": "allJobs"
        }
      },
      "id": "123",
      "name": "Split Jobs",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        784,
        -992
      ],
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "jobTitle",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "company",
              "value": "={{ $json.company || \"\" }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "location",
              "value": "={{ $json.location || \"\" }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "jobUrl",
              "value": "={{ $json.link || \"\" }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "description",
              "value": "={{ $json.allJobs?.description || $json.description || \"\" }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "datePosted",
              "value": "={{ $json.allJobs?.created || $json.created || \"\" }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "jobId",
              "value": "={{ $json.allJobs?.id || $json.id || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "123",
      "name": "Normalize Job Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        992
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior ATS Resume Optimizer, Enterprise Recruiter and Career Matching System.\n\nYour task:\n\n1 Read original CV\n\n2 Read job description\n\n3 Compare CV vs JD\n\n4 Calculate ATS fit\n\n5 Improve CV\n\n6 Generate tailored Cover Letter\n\nReturn ONLY valid JSON.\n\n==================================================\nCANDIDATE CV SOURCE\n==================================================\n\nUse ALL extracted CV data below.\n\nCandidate CV data:\n\n{{ JSON.stringify($node[\"Extract from File\"].json) }}\n\nIMPORTANT:\n\nRead candidate history from extracted CV.\n\nKeep:\n\nCompanies\n\nTitles\n\nTimeline\n\nProjects\n\nAchievements\n\nCertifications\n\nExperience\n\nNever invent companies.\n\nNever remove history.\n\nNever fake experience.\n\nPreserve career progression.\n\n==================================================\nJOB SOURCE\n==================================================\n\nUse ALL job information below.\n\nJob data:\n\n{{ JSON.stringify($node[\"Normalize Job Data\"].json) }}\n\n==================================================\nSTEP 1 – CV ANALYSIS\n==================================================\n\nRead FULL CV.\n\nExtract:\n\nProfessional Summary\n\nSkills\n\nExperience\n\nCertifications\n\nProjects\n\nEducation\n\nAchievements\n\nTechnologies\n\nEmployers\n\nTimeline\n\nKeep original history.\n\nDo NOT rewrite history.\n\n==================================================\nSTEP 2 – ATS ANALYSIS\n==================================================\n\nCompare CV vs JD.\n\nScoring:\n\nSkills = 50%\n\nExperience = 20%\n\nTechnology overlap = 20%\n\nRole alignment = 10%\n\nGenerate:\n\nATS score\n\nMatch %\n\nMissing skills\n\nTarget:\n\nImprove ATS toward 70–90 where realistic.\n\nNever fake experience.\n\n==================================================\nSTEP 3 – CV OPTIMIZATION\n==================================================\n\nGenerate NEW ATS optimized CV.\n\nKeep SAME CV structure.\n\nPreserve formatting style.\n\nKeep sections.\n\nOptimize ONLY:\n\nProfessional Summary\n\nSkills\n\nKeywords\n\nAchievements\n\nProjects\n\nSelected responsibilities\n\nAdd JD keywords naturally.\n\nOnly add skills supported by CV.\n\nDo NOT invent tools.\n\nDo NOT change companies.\n\nDo NOT change dates.\n\nDo NOT remove achievements.\n\nRequired order:\n\nPROFESSIONAL SUMMARY\n\nSKILLS\n\nPROFESSIONAL EXPERIENCE\n\nCERTIFICATIONS\n\nPROJECTS\n\nEDUCATION\n\nTarget quality:\n\n8–9 / 10 ATS alignment.\n\n==================================================\nSTEP 4 – COVER LETTER\n==================================================\n\nGenerate FULL JOB-SPECIFIC Cover Letter.\n\nRequirements:\n\nUse JOB DESCRIPTION.\n\nMention:\n\nCompany\n\nJob title\n\nRelevant technologies\n\nBusiness needs\n\nCandidate experience\n\nAchievements\n\nWriting style adapts to role.\n\nCloud role → cloud focus\n\nSecurity role → security focus\n\nSupport role → operations focus\n\nInfrastructure role → infrastructure focus\n\nMinimum:\n\n200 words\n\nProfessional format.\n\nNo placeholders.\n\nNo generic template.\n\nNo fake experience.\n\n==================================================\nOUTPUT RULES\n==================================================\n\nAlways generate BOTH outputs.\n\nNever leave empty.\n\ntailoredCV requirements:\n\nFull ATS optimized resume\n\nPreserve structure\n\nProfessional Summary\n\nSkills\n\nExperience\n\nCertifications\n\nProjects\n\nEducation\n\nATS keywords\n\nMinimum:\n\n800 words\n\ncoverLetter requirements:\n\nFull cover letter\n\nJob specific\n\nCompany specific\n\nMinimum:\n\n200 words\n\nReturn ONLY JSON:\n\n{\n\"status\":\"MATCH\",\n\"atsScore\":0,\n\"matchPercentage\":0,\n\"missingSkills\":[],\n\"jobSummary\":\"\",\n\"tailoredCV\":\"FULL ATS RESUME\",\n\"coverLetter\":\"FULL JOB SPECIFIC COVER LETTER\"\n}\n\nNever return:\n\nnull\n\nempty strings\n\nN/A\n\nReturn ONLY JSON.",
        "options": {
          "returnIntermediateSteps": false
        }
      },
      "id": "123",
      "name": "Analyze Job & Tailor CV",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        192
      ],
      "retryOnFail": false,
      "waitBetweenTries": 100,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": true,
              "rightValue": 10,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "123",
      "name": "Filter Match >= 70%",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        992,
        1472
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1239",
              "name": "jobTitle",
              "value": "={{ $('Normalize Job Data').first().json.jobTitle || $('Normalize Job Data').first().json.title || 'Job' }}{{ $json.jobTitle || $json.title || 'Job' }}",
              "type": "string"
            },
            {
              "id": "123",
              "name": "company",
              "value": "={{ $('Normalize Job Data').first().json.company || '' }}",
              "type": "string"
            },
            {
              "id": "123",
              "name": "link",
              "value": "={{ $('Normalize Job Data').first().json.jobUrl || $('Normalize Job Data').first().json.link || '' }}",
              "type": "string"
            },
            {
              "id": "123",
              "name": "description",
              "value": "={{ $('Normalize Job Data').first().json.description || '' }}",
              "type": "string"
            },
            {
              "id": "1238",
              "name": "atsScore",
              "value": "={{ JSON.parse($('Analyze Job & Tailor CV').first().json.output).atsScore || 0 }}",
              "type": "string"
            },
            {
              "id": "506fd6c3-0f76-4920-90f7-df15c2642b17",
              "name": "matchPercentage",
              "value": "={{ JSON.parse($('Analyze Job & Tailor CV').first().json.output).matchPercentage || 0 }}",
              "type": "string"
            },
            {
              "123": "90b8c313-2c0c-4c98-b32d-20dd2ef42592",
              "name": "cvFile",
              "value": "={{ \n'CV_' +\n(($('Normalize Job Data').first().json.jobTitle || 'Job')\n.replace(/[^\\w\\s-]/g,'')\n.replace(/\\s+/g,'-'))\n+ '.docx'\n}}",
              "type": "string"
            },
            {
              "id": "6f94c745-2cc1-42ee-8f51-eb1f1db5063e",
              "name": "clFile",
              "value": "={{ \n'CL_' +\n(($('Normalize Job Data').first().json.jobTitle || 'Job')\n.replace(/[^\\w\\s-]/g,'')\n.replace(/\\s+/g,'-'))\n+ '.docx'\n}}",
              "type": "string"
            },
            {
              "id": "11186275-b659-4609-a57c-854906810da4",
              "name": "status",
              "value": "Processed",
              "type": "string"
            },
            {
              "id": "166eff5f-601e-4e33-8f5a-c8a75b123a2c",
              "name": "date",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4a33ca57-7cd4-48f0-b960-761d776b20cf",
      "name": "Prepare Sheet Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        432
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1tQ5X9J0c2JKZ5mGXb0e9vRFuHmSi2XQvTmWn9QH3XgE",
          "mode": "list",
          "cachedResultName": "JobTracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQ5X9J0c2JKZ5mGXb0e9vRFuHmSi2XQvTmWn9QH3XgE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQ5X9J0c2JKZ5mGXb0e9vRFuHmSi2XQvTmWn9QH3XgE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job Title ": "={{ $json.jobTitle || $json.title || 'Job' }}",
            "Company": "={{ $json.company || '' }}",
            "Link": "={{ $json.link || $json.jobUrl }}",
            " Description": "={{ $json.description || '' }}",
            "Status": "Processed",
            "Cover Letter": "={{\n'CL_' +\n(($json.jobTitle || $json.title || 'Job')\n.replace(/[^\\w\\s-]/g,'')\n.replace(/\\s+/g,'-'))\n+ '.docx'\n}}",
            "CV File": "={{\n'CV_' +\n(($json.jobTitle || $json.title || 'Job')\n.replace(/[^\\w\\s-]/g,'')\n.replace(/\\s+/g,'-'))\n+ '.docx'\n}}",
            "ATS Score": "={{ JSON.parse($node[\"Analyze Job & Tailor CV\"].json.output).atsScore || 0 }}",
            "Match Score": "={{ JSON.parse($node[\"Analyze Job & Tailor CV\"].json.output).matchPercentage || 0 }}",
            "Date": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Job Title ",
              "displayName": "Job Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " Description",
              "displayName": " Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CV File",
              "displayName": "CV File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ATS Score",
              "displayName": "ATS Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Match Score",
              "displayName": "Match Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "80268a1b-33f3-419d-8aa8-c77d81782974",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        624
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "123
",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const title =\n$node[\"Normalize Job Data\"].json.jobTitle ||\n$node[\"Normalize Job Data\"].json.title ||\n\"Job\";\n\nconst cleanTitle = title\n.replace(/[^\\w\\s-]/g,'')\n.replace(/\\s+/g,'-')\n.substring(0,80);\n\nlet result = {};\n\ntry{\n result = JSON.parse($json.output || \"{}\");\n}catch(e){\n result = {};\n}\n\nreturn {\n json:{\n   filename:`CV_${cleanTitle}.txt`,\n   content: result.tailoredCV || \"CV generation failed\"\n }\n};"
      },
      "id": "664230a5-ec25-4cb0-bacc-4d84ede2c337",
      "name": "Create CV DOCX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        144
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1O99VkhMuiJoRVDaaMNmEoATcVYLrehuS",
          "mode": "list",
          "cachedResultName": "JobTracker",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1O99VkhMuiJoRVDaaMNmEoATcVYLrehuS"
        },
        "options": {}
      },
      "id": "6b521d4c-d262-4344-b77d-20bc2f6d9652",
      "name": "Upload CV to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2944,
        112
      ],
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "123",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const title =\n$node[\"Normalize Job Data\"].json.jobTitle ||\n$node[\"Normalize Job Data\"].json.title ||\n\"Job\";\n\nconst cleanTitle = title\n.replace(/[^\\w\\s-]/g,'')\n.replace(/\\s+/g,'-')\n.substring(0,80);\n\nlet result = {};\n\ntry{\n  result = JSON.parse(\n   $node[\"Analyze Job & Tailor CV\"].json.output || \"{}\"\n  );\n}catch(e){\n  result = {};\n}\n\nconst content =\nresult.coverLetter ||\n\"Cover letter generation failed.\";\n\nreturn {\n json:{\n   filename:`CL_${cleanTitle}.txt`,\n   content\n }\n};"
      },
      "id": "fa906aa5-9dfc-434b-b617-198dfbfa55c8",
      "name": "Create Cover Letter DOCX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        368
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1O99VkhMuiJoRVDaaMNmEoATcVYLrehuS",
          "mode": "list",
          "cachedResultName": "JobTracker",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1O99VkhMuiJoRVDaaMNmEoATcVYLrehuS"
        },
        "options": {}
      },
      "id": "123",
      "name": "Upload Cover Letter to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2960,
        336
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "123",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/gb/search/1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "ae0890e3"
            },
            {
              "name": "app_key",
              "value": "56bc53a876254a22bd92ff3e972b814c"
            },
            {
              "name": "what",
              "value": "Azure"
            },
            {
              "name": "where",
              "value": "Ireland"
            },
            {
              "name": "results_per_page",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "8e927822-27ad-416b-a3a7-a1fa86f7b1a9",
      "name": "Search Adzuna Ireland1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        -960
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/gb/search/1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "ae0890e3"
            },
            {
              "name": "app_key",
              "value": "123"
            },
            {
              "name": "what",
              "value": "IT"
            },
            {
              "name": "where",
              "value": "Ireland"
            },
            {
              "name": "results_per_page",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "49857d5f-92b8-4597-bb8a-edfe3c91bc7b",
      "name": "Search Adzuna Ireland2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        -928
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17,
              "triggerAtMinute": 25
            }
          ]
        }
      },
      "id": "90343f42-cc2a-4119-9c2b-99f58ce2a17c",
      "name": "daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1120,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "content",
        "options": {
          "fileName": "={{\n'CV_' + (\n$node[\"Create CV DOCX\"].json.filename\n.replace('.docx','')\n.replace('CV_','')\n|| 'Job'\n) + '.txt'\n}}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1824,
        160
      ],
      "id": "83920cb4-1017-4549-8c36-222e230c69c7",
      "name": "Convert to File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "content",
        "options": {
          "fileName": "={{\n'CL_' + (\n$node[\"Create Cover Letter DOCX\"].json.filename\n.replace('.docx','')\n.replace('CL_','')\n|| 'Job'\n) + '.txt'\n}}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1824,
        368
      ],
      "id": "34663d7e-8170-40bc-9364-55455c098d0f",
      "name": "Convert to File1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        1408
      ],
      "id": "17735a61-d189-4894-9630-c5a0838c0979",
      "name": "Loop Over Items",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bf723fd0-ef1c-4a0e-85af-ab62bedbea09",
              "leftValue": "={{ Number($json.matchPercentage || 0) }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "beb15afc-68b5-46e0-8f7e-447bc31959ff",
              "leftValue": "={{ Number($json.atsScore || 0) }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        192
      ],
      "id": "d3ff23d7-2f4a-4f95-9f9f-cf8c2fc7f4ee",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1Iqwwv07b6biS6tjqIeMAViERbGmwSP8i",
          "mode": "list",
          "cachedResultName": "Ashok_Kumar_Az.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1Iqwwv07b6biS6tjqIeMAViERbGmwSP8i/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1120,
        192
      ],
      "id": "7cd1189e-3d7b-4dd8-af32-669ce0ffce6a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "123",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1104,
        528
      ],
      "id": "53219798-dc43-445e-acdb-87da0468f87f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.text || \"\";\n\nlet parsed;\n\ntry {\n  const cleaned = text\n    .replace(/```json/g, \"\")\n    .replace(/```/g, \"\")\n    .trim();\n\n  parsed = JSON.parse(cleaned);\n\n} catch (e) {\n  parsed = { skills: [] };\n}\n\nconst skills = parsed.skills || [];\n\n// fallback if no skills found\nif (skills.length === 0) {\n  return [{\n    json: {\n      skill: \"Microsoft 365\"\n    }\n  }];\n}\n\nreturn skills.map(skill => ({\n  json: {\n    skill: skill\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        832
      ],
      "id": "f058e5fd-c64c-427f-a9ff-2c78d3a993f3",
      "name": "Build Search Terms",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        624,
        1440
      ],
      "id": "50677670-a23e-4a3a-9ead-b1128accaa95",
      "name": "Wait",
      "webhookId": "56b60acf-af5b-4a53-ad81-335d46100d2c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f1b487f6-14c1-422a-8416-f543293d9dd5",
              "leftValue": "={{ $json.datePosted || new Date().toISOString() }}",
              "rightValue": "={{ new Date(Date.now()-7*24*60*60*1000).toISOString() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1264,
        -976
      ],
      "id": "816856c7-05fe-4ea9-847b-62561f095d6c",
      "name": "JOb Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1392,
        1456
      ],
      "id": "b04b348a-2758-4278-be7b-65058dffb5f9",
      "name": "Wait1",
      "webhookId": "66d08582-b1aa-4f28-b527-2322d8324843"
    },
    {
      "parameters": {
        "model": "openrouter/owl-alpha",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -112,
        -992
      ],
      "id": "eb4d10f9-6c52-4557-b069-e594f54de98b",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "123",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v4-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        496,
        496
      ],
      "id": "123",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "123",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        1456
      ],
      "id": "7c88d025-d8ce-49c7-963e-68fc5fc1c5d4",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "f1b487f6-14c1-422a-8416-f543293d9dd5",
              "leftValue": "={{ Number($json.count) }}",
              "rightValue": "=0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        528,
        -992
      ],
      "id": "123",
      "name": "JOb Filter_Loop",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/curious_coder~linkedin-jobs-scraper/run-sync-get-dataset-items?token=123",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"urls\": [\n    \"https://www.linkedin.com/jobs/search/?keywords={{$json.skill}}&location=Ireland\"\n  ],\n  \"jobsNeeded\": 10,\n  \"scrapeCompany\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -752,
        -64
      ],
      "id": "175df5bb-e3c0-4d0a-8465-661e41211712",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this CV.\n\nExtract top 15 technical skills.\n\nReturn:\n\n{\n \"skills\":[]\n}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -96,
        -1152
      ],
      "id": "a6000494-1ead-44b1-af95-c671953e6e4f",
      "name": "Extract Skill1"
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.text || \"\").toLowerCase();\n\nconst skillLibrary = [\n\n/* Microsoft 365 / Modern Workplace */\n\"microsoft 365\",\"office 365\",\"intune\",\"entra id\",\"azure ad\",\n\"exchange online\",\"sharepoint\",\"teams\",\"onedrive\",\"autopilot\",\n\"conditional access\",\"mfa\",\"endpoint manager\",\"group policy\",\n\"powershell\",\"purview\",\"defender\",\"defender for endpoint\",\n\"defender for office 365\",\"active directory\",\"windows server\",\n\"adfs\",\"hybrid identity\",\"bitlocker\",\"azure virtual desktop\",\n\n/* Azure */\n\"azure\",\"azure vm\",\"azure sentinel\",\"azure monitor\",\n\"azure storage\",\"azure networking\",\"azure devops\",\n\"azure security center\",\"key vault\",\"logic apps\",\n\"app service\",\"virtual machine\",\"aks\",\"arm templates\",\n\"azure arc\",\"azure functions\",\"entra connect\",\n\n/* AWS */\n\"aws\",\"ec2\",\"s3\",\"iam\",\"lambda\",\"route53\",\"rds\",\n\"cloudwatch\",\"vpc\",\"efs\",\"eks\",\"cloudformation\",\n\"elastic beanstalk\",\"autoscaling\",\"load balancer\",\n\n/* GCP */\n\"google cloud\",\"gcp\",\"bigquery\",\"cloud run\",\n\"compute engine\",\"cloud storage\",\"gke\",\n\n/* Security */\n\"siem\",\"soc\",\"edr\",\"xdr\",\"crowdstrike\",\"sentinelone\",\n\"okta\",\"zscaler\",\"firewall\",\"vpn\",\"iam\",\n\"identity management\",\"endpoint security\",\n\"vulnerability management\",\"incident response\",\n\"iso 27001\",\"nist\",\"pci dss\",\"cissp\",\"splunk\",\n\"security operations\",\"threat hunting\",\"forensics\",\n\"risk assessment\",\"microsoft defender\",\"cybersecurity\",\n\n/* Networking */\n\"tcp/ip\",\"dns\",\"dhcp\",\"routing\",\"switching\",\n\"lan\",\"wan\",\"vpn\",\"cisco\",\"fortinet\",\n\"palo alto\",\"wireshark\",\"load balancer\",\n\"network troubleshooting\",\"osi model\",\"subnetting\",\n\"nat\",\"firewall rules\",\"bgp\",\"ospf\",\n\n/* DevOps */\n\"docker\",\"kubernetes\",\"terraform\",\"ansible\",\n\"jenkins\",\"git\",\"github\",\"gitlab\",\"ci/cd\",\n\"helm\",\"nginx\",\"prometheus\",\"grafana\",\n\"argocd\",\"devops\",\"yaml\",\"bash\",\n\n/* Operating Systems */\n\"linux\",\"ubuntu\",\"redhat\",\"centos\",\n\"windows\",\"macos\",\"unix\",\n\n/* Databases */\n\"sql\",\"mysql\",\"postgresql\",\"mongodb\",\n\"oracle\",\"sqlite\",\"mariadb\",\"nosql\",\n\n/* Data / Analytics */\n\"power bi\",\"excel\",\"tableau\",\"pandas\",\n\"numpy\",\"matplotlib\",\"data analysis\",\n\"etl\",\"reporting\",\"dashboard\",\n\n/* Programming */\n\"python\",\"java\",\"javascript\",\"typescript\",\n\"c#\",\"c++\",\"go\",\"php\",\"bash\",\"powershell\",\n\"html\",\"css\",\"react\",\"node.js\",\".net\",\n\n/* Cloud / Infra */\n\"vmware\",\"hyper-v\",\"virtualization\",\n\"storage\",\"backup\",\"disaster recovery\",\n\"high availability\",\"load balancing\",\n\n/* Automation */\n\"n8n\",\"power automate\",\"zapier\",\n\"rest api\",\"json\",\"xml\",\"graphql\",\n\"postman\",\"webhook\",\"api integration\",\n\n/* IT Support */\n\"it support\",\"service desk\",\"helpdesk\",\n\"ticketing\",\"servicenow\",\"jira\",\n\"incident management\",\"problem management\",\n\"sla\",\"desktop support\",\"remote support\",\n\"user support\",\"troubleshooting\",\n\n/* Monitoring */\n\"datadog\",\"new relic\",\"zabbix\",\n\"nagios\",\"cloudwatch\",\"prometheus\",\n\"grafana\",\"monitoring\",\"logging\",\n\n/* Containers / Platform */\n\"openshift\",\"rancher\",\"containerd\",\n\"k3s\",\"helm charts\",\n\n/* Misc */\n\"agile\",\"scrum\",\"kanban\",\n\"project management\",\"documentation\",\n\"stakeholder management\"\n];\n\nlet foundSkills = [];\n\nfor (const skill of skillLibrary) {\n    if (text.includes(skill.toLowerCase())) {\n        foundSkills.push(skill);\n    }\n}\n\nfoundSkills = [...new Set(foundSkills)];\n\nreturn [{\n    json: {\n        total_skills: foundSkills.length,\n        skills: foundSkills.slice(0,50)\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        848
      ],
      "id": "e267db82-ca09-4f2a-9047-c42a2d04d331",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $binary.data.fileName }}",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1O99VkhMuiJoRVDaaMNmEoATcVYLrehuS",
            "mode": "list",
            "cachedResultName": "JobTracker",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1O99VkhMuiJoRVDaaMNmEoATcVYLrehuS"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2304,
        -528
      ],
      "id": "123",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "123",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $binary.data.fileName }}",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1O99VkhMuiJoRVDaaMNmEoATcVYLrehuS",
            "mode": "list",
            "cachedResultName": "JobTracker",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1O99VkhMuiJoRVDaaMNmEoATcVYLrehuS"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2752,
        -1072
      ],
      "id": "123",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "123",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f713d8a1-c375-4f7e-9423-c7bb609bf679",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2512,
        -560
      ],
      "id": "04d2f2d4-ef8c-428a-9dec-bad5b407e824",
      "name": "If1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2528,
        -352
      ],
      "id": "41b44887-3f86-4736-bc7b-ab28e051c3bb",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f713d8a1-c375-4f7e-9423-c7bb609bf679",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2464,
        -1072
      ],
      "id": "240e9f2f-9d9f-4e7a-af8d-454506031b0d",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(\n\nitem=>({\n\njson:{\n\njobTitle:\n\nitem.json.title || \"\",\n\ncompany:\n\nitem.json.companyName || \"\",\n\nlink:\n\nitem.json.link ||\n\nitem.json.applyUrl ||\n\n\"\",\n\ndescription:\n\nitem.json.descriptionText ||\n\nitem.json.descriptionHtml ||\n\n\"\",\n\nlocation:\n\nitem.json.location || \"\",\n\ndate:\n\nitem.json.postedAt || \"\"\n\n}\n\n})\n\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -80
      ],
      "id": "ee19950d-02e6-401e-9064-eacfaa49c4e4",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "return $input.all(1);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        144
      ],
      "id": "6c1916f1-697d-4bf1-81d6-14f424238371",
      "name": "Remove duplicate job",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tQ5X9J0c2JKZ5mGXb0e9vRFuHmSi2XQvTmWn9QH3XgE",
          "mode": "list",
          "cachedResultName": "JobTracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQ5X9J0c2JKZ5mGXb0e9vRFuHmSi2XQvTmWn9QH3XgE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQ5X9J0c2JKZ5mGXb0e9vRFuHmSi2XQvTmWn9QH3XgE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Link",
              "lookupValue": "={{ ($json.jobUrl || $json.link || \"\").toString().trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        -96
      ],
      "id": "123",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "123",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        640
      ],
      "id": "123",
      "name": "Code in JavaScript",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "123",
          "mode": "list",
          "cachedResultName": "JobTracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQ5X9J0c2JKZ5mGXb0e9vRFuHmSi2XQvTmWn9QH3XgE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQ5X9J0c2JKZ5mGXb0e9vRFuHmSi2XQvTmWn9QH3XgE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link": "={{$json.link}}",
            "Job Title ": "={{$json.jobTitle}}",
            "Company": "={{$json.company}}",
            " Description": "={{$json.description}}",
            "Status": "Processed",
            "CV File": "={{$json.cvFile}}",
            "Cover Letter": "={{$json.clFile}}",
            "ATS Score": "={{$json.atsScore}}",
            "Match Score": "={{$json.matchPercentage}}",
            "Date": "={{$json.date}}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Job Title ",
              "displayName": "Job Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " Description",
              "displayName": " Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CV File",
              "displayName": "CV File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS Score",
              "displayName": "ATS Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Score",
              "displayName": "Match Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        592
      ],
      "id": "123",
      "name": "Append row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "123",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"status\": {\n      \"type\": \"string\"\n    },\n    \"atsScore\": {\n      \"type\": \"number\"\n    },\n    \"matchPercentage\": {\n      \"type\": \"number\"\n    },\n    \"missingSkills\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"jobSummary\": {\n      \"type\": \"string\"\n    },\n    \"tailoredCV\": {\n      \"type\": \"string\"\n    },\n    \"coverLetter\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"status\",\n    \"atsScore\",\n    \"matchPercentage\",\n    \"missingSkills\",\n    \"jobSummary\",\n    \"tailoredCV\",\n    \"coverLetter\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1760,
        1536
      ],
      "id": "052716a5-7565-47f7-a747-37be8b79177a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bf723fd0-ef1c-4a0e-85af-ab62bedbea09",
              "leftValue": "={{ $json.row_number ? 1 : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        144
      ],
      "id": "e99d5c81-e619-4b97-873c-0be994805a14",
      "name": "If3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1tQ5X9J0c2JKZ5mGXb0e9vRFuHmSi2XQvTmWn9QH3XgE",
          "mode": "list",
          "cachedResultName": "JobTracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQ5X9J0c2JKZ5mGXb0e9vRFuHmSi2XQvTmWn9QH3XgE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQ5X9J0c2JKZ5mGXb0e9vRFuHmSi2XQvTmWn9QH3XgE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job Title ": "={{ $json.jobTitle || $json.title || \"\" }}",
            "Company": "={{ $json.company || \"\" }}",
            "Link": "={{ $json.jobUrl || $json.link || \"\" }}",
            " Description": "={{ $json.description || \"\" }}",
            "Status": "Pending"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Job Title ",
              "displayName": "Job Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " Description",
              "displayName": " Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CV File",
              "displayName": "CV File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS Score",
              "displayName": "ATS Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Score",
              "displayName": "Match Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        -256
      ],
      "id": "1238",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "123",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tQ5X9J0c2JKZ5mGXb0e9vRFuHmSi2XQvTmWn9QH3XgE",
          "mode": "list",
          "cachedResultName": "JobTracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQ5X9J0c2JKZ5mGXb0e9vRFuHmSi2XQvTmWn9QH3XgE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQ5X9J0c2JKZ5mGXb0e9vRFuHmSi2XQvTmWn9QH3XgE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link": "={{ JSON.parse($json.output).jobUrl }}",
            "Job Title": "={{ JSON.parse($json.output).jobTitle }}",
            "Company": "={{ JSON.parse($json.output).company }}",
            "Description": "={{ JSON.parse($json.output).company }}",
            "ATS Score": "={{ JSON.parse($json.output).atsScore }}",
            "Match Score": "={{ JSON.parse($json.output).matchScore }}",
            "Generate": "FALSE",
            "Status": "={{ JSON.parse($json.output).fit }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS Score",
              "displayName": "ATS Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Score",
              "displayName": "Match Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generate",
              "displayName": "Generate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CV File",
              "displayName": "CV File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        432
      ],
      "id": "123",
      "name": "Append row in sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "123",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an ATS scoring engine.\n\nCompare the CV against the job description.\n\nReturn ONLY valid JSON.\n\nExample:\n{\n  \"atsScore\": 78,\n  \"matchScore\": 82,\n  \"fit\": \"HIGH\"\n}\n\nRules:\nHIGH = 80+\nMEDIUM = 60-79\nLOW = below 60\n\n====================\nCV CONTENT\n====================\n\n{{ $('Extract from File').first().json.text }}\n\n====================\nJOB TITLE\n====================\n\n{{ $json.jobTitle }}\n\n====================\nCOMPANY\n====================\n\n{{ $json.company }}\n\n====================\nJOB DESCRIPTION\n====================\n\n{{ $json.description }}",
        "options": {
          "returnIntermediateSteps": false
        }
      },
      "id": "8aaa5892-a8ad-4b03-a993-0a732a58353a",
      "name": "Analyze Job & Tailor CV1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        864
      ],
      "retryOnFail": false,
      "waitBetweenTries": 100,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v4-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -288,
        1072
      ],
      "id": "123",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "123",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v4-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -496,
        1280
      ],
      "id": "123",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "123",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Search Adzuna Ireland": {
      "main": [
        []
      ]
    },
    "Split Jobs": {
      "main": [
        []
      ]
    },
    "Normalize Job Data": {
      "main": [
        [
          {
            "node": "Analyze Job & Tailor CV1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Job & Tailor CV": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Match >= 70%": {
      "main": [
        []
      ]
    },
    "Prepare Sheet Data": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        []
      ]
    },
    "Create CV DOCX": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Cover Letter DOCX": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Adzuna Ireland2": {
      "main": [
        []
      ]
    },
    "daily": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Upload Cover Letter to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload CV to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Adzuna Ireland1": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create CV DOCX",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Cover Letter DOCX",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Search Terms": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        []
      ]
    },
    "JOb Filter": {
      "main": [
        [],
        []
      ]
    },
    "Wait1": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Skill1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Job & Tailor CV",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        []
      ]
    },
    "JOb Filter_Loop": {
      "main": [
        [],
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Skill1": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Build Search Terms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Cover Letter to Drive": {
      "main": [
        []
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        []
      ]
    },
    "Upload CV to Drive": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "Search files and folders1": {
      "main": [
        []
      ]
    },
    "If2": {
      "main": [
        [],
        []
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Remove duplicate job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove duplicate job": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Normalize Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Analyze Job & Tailor CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Job & Tailor CV1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Job & Tailor CV1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:daily": {
      "recurrenceRules": []
    }
  },
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}